.portfolio{ }
span{color:blue}
h3 {font-weight:700;
font-size:18 px;
font-family:Roboto;}
p{font-weight: 400;
font-size: 16;
font-family: Roboto;}
.header{ font-family:Raleway;
font-weight: 700;
font-size: 26;}
.toto{font-family: Roboto;
    font-size: 16;
    font-weight: 500;
   
    }
    body{font-family:"Roboto";sans-serif;}